:root, * {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: white;
    user-select: none;
}

b, i, em, strong {
    color: inherit;
}

body {
    background-image: url("/media/images?i=mountain.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.desktop-symbols-container-outer {
    height: calc(96% - 64px);
    width: 100%;
    display: block;
    position: fixed;
    top: 1%;
}

.desktop-symbols-container {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 5%);
    grid-template-rows: repeat(auto-fill, 72px);;
}

.error-bg {
    position: absolute;
    height: 100%;
    width: 100%;
}



div.sm-topbar {
    height: 48px;
    width: 100%;
    position: relative;
    border-bottom: solid 1px #fff8;
}

div.sm-topbar[data-login="false"] {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    column-gap: 6px;
}

div.sm-topbar[data-login="true"]  {
    display: grid;
    grid-template-columns: 48px 1fr 2fr 48px;
    column-gap: 6px;
}


input[type="text"][data-type="desktopsearch"] {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    height: 24px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

input[type="text"][data-type="desktopsearch"]:focus {
    outline: none;
    border: none;
}

input#login {
    height: 36px;
    width: 100%;
    border-radius: 18px;
    background-color: transparent;
    border: solid 2px white;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
}

input#login:hover {
    background-color: #fff2;   
}

input#login:active {
    background-color: #fff4; 
}

input#signup {
    height: 36px;
    width: 100%;
    border-radius: 18px;
    border: none;
    background-color: transparent;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    cursor: pointer;
    font-size: 16px;
}

input#signup:hover {
    background-color: #fff2;   
}

input#signup:active {
    background-color: #fff4; 
}


a.settingsbutton {
    height: 48px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

div.sm-topbar > div.centerelement {
    display: grid;
    grid-template-columns: 1fr 45px;
    width: 100%;
    position: relative;
    cursor: pointer;
    height: 45px;
    column-gap: 12px;
}

div.sm-topbar > div.centerelement > div.user-container {
    display: grid;
    width: 100%;
    position: relative;
    justify-content: right;
    align-items: center;
    grid-template-rows: 70% 3%;
    height: 100%;
}

div.sm-topbar > div.centerelement > div.user-container > div.nickname {
    color: white;
    font-size: large;
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
    width: 100%;
    display: flex;
    justify-content: right;
    margin-right: 12px;
}

div.sm-topbar > div.centerelement > div.user-container > div.username {
    color: white;
    font-size: small;
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
    width: 100%;
    display: flex;
    justify-content: right;
    margin-right: 12px;
    font-weight: 300;
}

div.sm-topbar > div.centerelement > div.userpfp {
    height: 100%;
    position: relative;
    aspect-ratio: 1;
    background-size: contain;
    border-radius: 100%;
}

div.snap-preview {
    
    position: fixed;
    z-index: 9990;
    backdrop-filter: blur(14px);
    border-radius: 6px;
    background-color: #fff2;
    opacity: 1;
    
}

div.snap-preview[data-visible="true"] {
    height: calc(100% - 12px) !important;
    width: calc(100% - 12px) !important;
    top: 6px !important;
    left: 6px !important;
    transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out, width 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out;
}

div.snap-preview[data-visible="false"] {
    visibility: hidden;
    opacity: 1;
}


.notification-icon {
    display: flex;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 3px;
}

.notification-icon > img {
    height: 100%;
    width: 100%;
}

.notification-main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-rows: 24px fit-content;
}

.notification-title {
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.notification-text {
    font-size: 12px;
    font-weight: 300;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}


.desktop-clock {
    z-index: -1;
    width: 260px;
    height: 120px;
    display: block;
    position: fixed;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    filter: drop-shadow(0 0 5px #0008)
}

.desktop-clock::before {
    content: attr(data-time);
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 96px;
    font-weight: 100;
    display: block;
    position: absolute;
}

.desktop-clock::after {
    content: attr(data-date);
    bottom: 0;
    font-size: 18px;
    font-weight: 100;
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: 300;
    filter: drop-shadow(0 0 5px #0008)
}
