/* background-color: transparent; */
.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 12px;
}

.left {
    min-width: 300px;
    max-width: 500px;
    width: 40%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 240px 1fr;
}

.right {
    width: 100%;
    height: 100%;
}

.right-top {
    background-color: blueviolet;
    border-radius: 6px;
    margin: 6px;
    position: relative;
}
.right-bottom {
    width: 100%;
    height: 100%;
    /* background-color: rgb(147, 226, 43); */
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar-selector > span {
    line-height: 36px;
}

.sidebar-selector {
    background-color: #fff0;
    transition: background-color 0.2s ease-in-out;
    display: grid;
    grid-template-columns: 36px 1fr;
    grid-template-rows: 36px;
    grid-column-gap: 12px;
    grid-row-gap: 0px; 
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    padding: 3px;
    padding-left: 6px;
    align-content: center;
    line-height: 48px;
    border-radius: 3px;
    cursor: pointer;
    margin-block: 3px;
    font-weight: 300;
}

.sidebar-selector:hover {
    background-color: #fff4;
}

.sidebar-selector[data-active="true"] {
    background-color: #fff3;
    transition: background-color 0.2s ease-in-out;
}

.sidebar-selector[data-active="true"]:hover {
    background-color: #fff8;
    transition: background-color 0.2s ease-in-out;
}

.test {
    top: 50%;
    left: 30px;
    position: relative;
    background-color: red;
    display: block;
    width: 40px;
    height: 40px;
}

input[type="text"] {
    font-size: 16px;
    background-color: #333;
    outline: 0px solid #fff8;;
    border: 1px solid #fff4;
    border-radius: 6px;
    color: #eee;
    line-height: 24px;
    height: auto;
    padding-inline: 12px;
    padding-block: 3px;
    font-weight: 300;
    transition: border 0.1s ease-in-out;
    box-sizing: border-box;
}
input[type="text"]:focus,
input[type="text"]:active {
    outline: 2px solid #fff8;
    transition: outline 0.1s ease-in-out;
}

@keyframes settings-button-hover {
    
}

span.settings-header {
    font-size: 36px;
    margin-top: 12px;
    margin-bottom: 24px;
    font-weight: 100;
    display: block;
}

span.settings-subcategory {
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 6px;
    display: block;
    font-weight: 300;
}

div.settings-element {
    height: 36px;
    display: grid;
    grid-template-rows: 36px;
    grid-column-gap: 12px;
    grid-row-gap: 0px; 
    align-items: center;
    box-sizing: border-box;
    padding-left: 18px;
    color: white;
    border-radius: 6px;
    width: calc(100% - 12px);
    margin-block: 6px;
}

div.settings-element.regular {
    grid-template-columns: 60% 40%;
    filter: drop-shadow(0px 0px 5px #0006);
}

div.settings-element.button {
    grid-template-columns: 1fr 36px;
    background-color: #fff2;
    box-shadow: 0px 0px 10px #0006;
    filter: drop-shadow(0px 0px 0px #fff0);
    transition: filter 0.2s ease-in-out;
    cursor: pointer;
}




div.settings-element.button:hover {
    filter: drop-shadow(0px 0px 10px #fff6);
    transition: filter 0.2s ease-in-out;
}

div.settings-element > .text {
    font-size: 15px;
    font-weight: 300;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

color-picker {
    height: 24px;
    aspect-ratio: 1;
    border: solid 2px white;
    border-radius: 3px;
    cursor: pointer;
}